ul.py-4.px-5 {
  padding: var(--spacing) !important;
}

a.has-text-left {
  padding: var(--spacing) !important;
  position: relative;
}

img {
  max-height: 180px;
  object-fit: contain;
}

span.icon:has(i.fas.fa-angle-right) {
  display: none;
}

div.is-inline-block {
  display: grid !important;
  gap: var(--spacing);
  grid-template-areas:
    'media title title'
    'media description description'
    'location datetime fee';

  /* TODO: Find a better solution */

  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: minmax(140px, 1fr) 1fr auto;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-rows: auto 1fr auto;
}

figure {
  grid-area: media;
}

/* stylelint-disable-next-line selector-max-type */
div.is-inline-block > div {
  grid-area: title;
}

h4 {
  font-size: larger;
}

span.is-inline-block:first-of-type {
  grid-area: description;
}

span.is-inline-block:nth-of-type(2) {
  grid-area: location;
}

span.is-inline-block:nth-of-type(3) {
  grid-area: datetime;
}

span.is-inline-block:last-of-type {
  grid-area: fee;
}

/* stylelint-disable-next-line selector-max-type */
span.is-inline-block span {
  font-size: 14px;
}

span:is(
    .is-inline-block:nth-of-type(2),
    .is-inline-block:nth-of-type(3),
    .is-inline-block:last-of-type
  ) {
  align-items: center;
  display: flex !important;
  gap: var(--spacing);
  justify-content: center;
}
