[data-block='@appsemble/filter'] {
  margin-left: 16px;
  margin-right: 16px;
  color: #f8f8f8 !important;
}

.blocks-list-src-components-ListItem-index-module_button {
  display: none;
}

.is-inline-block:nth-child(2) {
  display: none;
}

[data-path='pages.rewards.tabs.0.blocks.1'] {
  max-height: 60px;
  background-color: #cdcdcd;
  display: flex !important;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  color: #ffffff;
}

[data-path='pages.rewards.tabs.1.blocks.1'] {
  max-height: 60px;
  background-color: #cdcdcd;
  display: flex !important;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  color: #ffffff;
}

[data-path='pages.rewards.tabs.2.blocks.1'] {
  max-height: 60px;
  background-color: #cdcdcd;
  display: flex !important;
  text-align: center !important;
  align-content: center !important;
  justify-content: center !important;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 28px;
  color: #ffffff;
}

main[data-path='pages.profile'] {
  text-align: center;
}

[data-path='pages.profile'][data-block='@appsemble/image'] {
  flex: 0 0 auto !important;
}

button > span:nth-child(2) {
  display: none;
}

[data-block='@appsemble/control-buttons'] {
  margin-top: -5px;
}

.packages-app-components-Block-index-module_grow {
  flex: 0 0 auto !important;
}

[data-path='pages.reward-details.blocks.3'] {
  align-items: center;
}

a.button.is-normal.is-primary {
  height: 40px;
  width: 328px;
  border-radius: 20px;
  justify-content: center !important;
}

[data-path='pages.profile.blocks.3'] {
  margin: auto;
}
