.navbar-brand.is-flex-grow-1 {
  background-image: url(https://appsemble.app/api/apps/292/assets/logo);
  background-position-x: 8px;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 8rem;
}

.navbar-item.title {
  display: none;
}

.navbar-end .navbar-item a.navbar-item:hover {
  background-color: initial;
}
