/* stylelint-disable selector-max-type */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-max-attribute */
details {
  background-color: hsl(0deg 0% 95%);
  border: 1px solid hsl(0deg 0% 67%);
  border-radius: 4px;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem 0;
}

details .icon {
  display: grid;
  place-items: center;
  transform: rotate(0deg);
  transition: transform ease-out 120ms;
}

details[open] {
  padding: 0.5rem;
}

details[open] summary {
  border-bottom: 1px solid hsl(0deg 0% 67%);
  margin-bottom: 0.5rem;
}

details[open] .icon {
  transform: rotate(90deg);
}

summary {
  align-items: center;
  background-color: hsl(0deg 0% 100%);
  display: flex;
  font-weight: bold;
  gap: 1rem;
  justify-content: space-between;
  list-style: none;
  margin: -0.5rem -0.5rem 0;
  padding: 0.5rem;
}

summary button {
  background: none;
  border: none;
  cursor: pointer;
}

summary button:is(:hover, :focus) {
  background-color: hsl(0deg 0% 95%);
}
