form.blocks-filter-src-index-module_root.blocks-filter-src-index-module_highlighted {
  box-shadow: none;
  gap: var(--spacing);
  padding: var(--spacing);
}

form.blocks-filter-src-index-module_root .modal .field {
  width: 100%;
}

div.blocks-filter-src-components-ListFieldComponent-ListFieldComponent-module_chip {
  border: 2px solid var(--primary-color);
}

.action {
  border-radius: 50%;
  bottom: 0.75rem;
  height: 56px;
  position: fixed;
  right: 0.75rem;
  width: 56px;
  z-index: 2000;
}
