/* stylelint-disable selector-max-attribute */
:root {
  --spacing: 8px;
}

[data-path-index='pages.0.blocks.0'] {
  background: url(http://localhost:9999/api/apps/9/assets/hero) no-repeat center center;
  background-size: cover;
  min-height: 40vh;
  position: relative;
}

[data-path-index='pages.1.blocks.0'] {
  position: relative;
}

:is([data-path-index='pages.0.blocks.0'], [data-path-index='pages.1.blocks.0'])::after {
  background-color: hsl(0deg 0% 100%);
  bottom: -1px;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  clip-path: polygon(
    0% 30%,
    10% 60%,
    30% 30%,
    40% 60%,
    60% 30%,
    70% 60%,
    90% 30%,
    100% 60%,
    110% 30%,
    130% 100%,
    0% 100%
  );
  content: '';
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
}

[data-path-index='pages.1.blocks.1'] {
  align-items: flex-start;
  margin-top: var(--spacing);
}

.packages-app-components-Block-index-module_grow[data-path='pages.search.blocks.1'] {
  flex-grow: 0;
  position: relative;
  top: 115px;
}

.packages-app-components-Block-index-module_root[data-path='pages.search.blocks.2'] {
  position: relative;
  top: -30px;
}

[data-path='pages.login.blocks.2'] .packages-preact-components-FormButtons-index-module_one {
  margin-top: 0 !important;
  transform: translateY(45px);
}

[data-path='pages.login.blocks.3'] {
  transform: translateY(-60px);
  margin-top: -40px;
}

.button.is-normal[title='Forgot password'] {
  margin-bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.packages-app-components-PageDialog-index-module_fullscreen.modal-card {
  margin: 0;
  max-height: initial;
}
.field.is-grouped {
  display: flex;
  justify-content: space-between;
}
form .button.is-primary {
  margin-top: 30px;
}
/* For mobile screens */
@media screen and (max-width: 768px) {
  .field.is-grouped {
    flex-direction: column; /* Change the direction to column */
  }
}
form .button.mx-2.my-2.is-primary {
  border-radius: 50%;
  bottom: 0.75rem;
  height: 56px;
  position: fixed !important;
  right: 0.75rem;
  width: 56px;
  z-index: 2000;
}
