/* stylelint-disable selector-max-attribute */
.button.is-primary {
  margin: auto;
}

.blocks-form-src-index-module_root[data-path='pages.search.blocks.1'] {
  margin-top: 0;
}

form[data-path='pages.search.blocks.1'] .button.is-primary {
  display: none;
}

.input[name='search'] {
  border: 2px solid hsl(0deg 0% 53%);
  border-radius: 20px;
}

.blocks-form-src-index-module_root[data-path='pages.search.blocks.2'] .field:nth-of-type(2) {
  margin-top: 3rem;
}
