.calendar-container {
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  min-width: min-content;
}

.calendar-table {
  width: 100%;
}

.calendar-table td {
  border-style: solid;
  border-width: 7px;
  color: hsl(0deg 0% 100%);
}

.calendar-table th {
  background-color: hsl(300deg 30% 31%);
  color: hsl(0deg 0% 100%);
  min-height: 150px;
  text-align: center !important;
  width: 130px;
}

.calendar-table .date {
  background-color: hsl(300deg 30% 31%);
  color: hsl(0deg 0% 100%);
  padding: 3px;
  width: 100%;
}

.calendar-table .today {
  background-color: hsl(0deg 0% 100%);
  color: hsl(0deg 0% 0%);
}

.calendar-table .different {
  background-color: hsl(300deg 12% 59%);
  color: hsl(0deg 0% 100%);
}

.calendar-table .calendar-days {
  margin: 7px;
}

.calendar-table td .clickable-field {
  background-color: hsl(80deg 61% 50%);
  border-color: hsl(80deg 61% 50%);
  color: hsl(0deg 0% 0%);
  display: flex;
  font-size: 8px;
  font-weight: bold;
  height: 15px;
  text-align: left;
  width: 100%;
}

.header-container {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: hsl(0deg 0% 100%);
  border-color: hsl(300deg 30% 31%);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  position: relative;
  width: 50px;
}

.previous {
  margin-right: auto;
}

.next {
  margin-left: auto;
}

@media only screen and (width <= 760px), (device-width >= 768px) and (device-width <= 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  tr {
    margin: 0 0 1rem;
  }

  thead .calendar-day-names {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  tr:nth-child(odd) {
    background: hsl(0deg 0% 80%);
  }

  tr:nth-child(even) ::before {
    color: hsl(0deg 0% 0%);
  }

  td {
    border: none;
    border-bottom: 1px solid hsl(0deg 0% 93%);
    padding-left: 50%;
    position: relative;
  }

  td::before {
    left: 6px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 45%;
  }

  td:nth-of-type(1)::before {
    content: 'Monday';
  }

  td:nth-of-type(2)::before {
    content: 'Tuesday';
  }

  td:nth-of-type(3)::before {
    content: 'Wednesday';
  }

  td:nth-of-type(4)::before {
    content: 'Thursday';
  }

  td:nth-of-type(5)::before {
    content: 'Friday';
  }

  td:nth-of-type(6)::before {
    content: 'Saturday';
  }

  td:nth-of-type(7)::before {
    content: 'Sunday';
  }
}
