.buttons.is-centered:has(.button.is-light) {
  justify-content: flex-start;
  margin: var(--spacing) 0;
}

.button.is-light {
  background-color: transparent;
}

.button.is-light .icon {
  color: var(--primary-color);
}

.buttons.is-centered:not(.has-addons) .button:not(.is-fullwidth) {
  margin-left: 0;
  margin-right: 0;
}
