.navbar-item {
  margin: auto;
  font-size: 16px !important;
  color: #333333 !important;
  height: 24px !important;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}

.navbar {
  background-color: transparent !important;
  height: 24px !important;
  width: 75%;
  margin: auto;
}

.tabs > ul {
  padding-right: 40%;
  margin-right: auto;
  height: 32px;
  font-size: 16px;
  background-color: #f8f8f8;
}

.bottom-nav {
  height: 3.5em !important;
}
