h1.landing-page {
  background-color: hsl(0deg 0% 100%);
  color: var(--primary-color);
  display: grid;
  font-size: xx-large;
  font-weight: 600;
  margin: 5vh auto 8vh;
  padding: 20px;
  text-align: center;
  width: 70%;
}

h1:not(.landing-page) {
  font-size: x-large;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

h1.small-heading {
  margin: 0 8px 16px;
  text-align: left;
}

h2 {
  font-size: x-large;
  font-weight: 600;
  margin: auto;
  max-width: 480px;
}

p {
  margin: 8px 8px 16px;
}
