.px-2.py-2.is-flex {
  display: grid !important;
  grid-template: auto / auto 1fr auto;
  grid-template-areas:
    'location datetime price'
    'location datetime price'
    'name name name'
    'description description description'
    'moreDescription moreDescription moreDescription';
}

.appsemble-string.mb-5:is(:first-of-type, :nth-of-type(2), :nth-of-type(3)) {
  align-items: center;
  display: flex;
  gap: var(--spacing);
  justify-content: center;
}

.appsemble-string.mb-5:first-of-type {
  grid-area: location;
}

.appsemble-string.mb-5:nth-of-type(2) {
  grid-area: datetime;
}

.appsemble-string.mb-5:nth-of-type(3) {
  grid-area: price;
}

.appsemble-string.mb-5:nth-of-type(4) {
  grid-area: name;
}

.appsemble-string.mb-5:nth-of-type(5) {
  grid-area: description;
}

.appsemble-string.mb-5:nth-of-type(6) {
  grid-area: moreDescription;
}
