@media screen and (max-width: 768px) {
  .field.is-grouped {
    flex-direction: column;
  }
}
button[class^='button'][class$='next'],
button[class^='button'][class$='previous'] {
  width: 10px;
  height: 10px;
  padding-block: 15px;
  display: flex;
}
